/* TROPICAL PUNCH */

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body {
    margin: 0;
    font-family: "Roboto";
    background-color: rgb(255, 201, 126);
    background-image: url("../res/palm_blue.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right top;
    /* background: url("../res/pep_boys_logo.jpg"); */
}

#cmsContent {
    background-color: rgba(255, 226, 184, 0.692);
    border-radius: 15px;
    margin: 25px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0F0E38;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
    font-family: 'Raleway';
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(236, 115, 2);
    transition: background-color 1.5s;
}

.active {
    background-color: rgb(0, 196, 166);
}

.adminButton {
    float: right;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
}

.dropbtn {
    background-color: rgb(0, 196, 166);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "Raleway";
    width: 150px;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {background-color: #ccc; cursor: pointer;}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: rgb(0, 128, 108);
}