/* CLICKBEATTY */

html {
    font-family: 'Comic Sans MS';
}
body {
    margin: 0;
    background-color: magenta;
    color: white;
    background-image: url(../res/thomas2.png);
    background-repeat: repeat;
}

#cmsContent {
    background-color: rgba(150, 0, 150, 0.5);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

body p {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: turquoise;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: yellow;
    
    background-image: url(../res/thomas2.png);
    background-size: contain;
}

.active {
    background-color: magenta;
}

.adminButton {
    float: right;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: turquoise;
    text-align: center;
}

.dropbtn {
    background-color: turquoise;
    font-family: "Comic Sans MS";
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: rgb(197, 0, 197);
}